.custom-header {
    background-color: transparent;
    padding: 30px 0;
}

.logo-img {
    height: 200px;
    width: auto;
}

.nav-right-side {
    margin-top: 10px;
}

/* Пошук */
.search-area {
    width: 250px;
    margin-bottom: 10px;
}

.search-text {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.search-icon {
    width: 18px;
    height: 18px;
}

.search-underline {
    width: 100%;
    height: 1px;
    background-color: #4a4a4a;
}

/* Меню */
.header-menu .nav-link {
    font-size: 13px;
    color: #4a4a4a !important;
    text-transform: uppercase;
    padding: 10px 0 10px 20px !important;
}

.header-menu .nav-link:hover {
    color: #a3657e !important;
}
