/* Налаштування банера з вашим фото */
.banner-section {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
                url('C:\Users\2023\Desktop\Практика\images\5319253774637407027.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.banner-title {
    font-family: 'Playfair Display', serif;
    color: #5d2e46; /* Темно-бордовий колір тексту */
    font-size: 48px;
    font-weight: bold;
}

.btn-more {
    background-color: #d88fa5;
    color: white;
    border-radius: 0;
    padding: 12px 35px;
    font-weight: bold;
    border: none;
}

/* Секція популярних квітів */
.popular-flowers {
    background-color: #f6e1da; /* Пастельно-рожевий фон */
}

.section-title {
    font-family: 'Playfair Display', serif;
    font-size: 38px;
    color: #333;
}

.section-subtitle {
    font-style: italic;
    color: #777;
    font-size: 20px;
}

.flower-img {
    height: 180px;
    margin-bottom: 20px;
    object-fit: contain;
}

.flower-name {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    margin-bottom: 15px;
}

.flower-text {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}